html, body {
    height: 100vh;
    margin: 0;
}
.container {
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}
.content {
    text-align: center;
    margin-top: -60px;
    padding: 16px;
}
.title {
    font-size: 48px;
    letter-spacing: 12px;
    text-transform: uppercase;
    font-weight: lighter;
}        
.body {
    font-size: 36px;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 24px;
        letter-spacing: 6px;
    }
    .body {
        font-size: 18px;
    }
}  