@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

* {
    font-family: 'Ubuntu', sans-serif;
    color: #ccc;
    line-height: 1.5;
    text-align: center; 
    margin: 0;
    padding: 0;   
}  

body {
    margin: 24px 12px;
    background-color: #282c34;
}

main {
    padding: 12px 0 18px;
    margin: auto;
    width: 100%;
}

section, nav {
    margin-bottom: 26px;
}

nav a {
    text-decoration: none;
}

nav a.active:hover {
    background-color: transparent;
}

footer, footer a {
    text-decoration: none;
    color: #7f848e;
}

footer a:hover {
    background-color: transparent;
}

strong, b {
    font-weight: 500;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin-bottom: 6px;
}
h1 {
    font-size: 32px;
    color: #e06c75;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 22px;
    color: #d19a66;    
}
h4, p {
    font-size: 18px;
}
h5, nav, footer, .json {
    font-size: 15px;
}

a {
    color: #56b6c2;
}

a:hover {
    background-color: #515869;
}

.red {
    color: #e06c75;
}

.green {
    color: #98c379;
}

.purple {
    color: #c678dd;
}

.orange {
    color: #d19a66;
}

.yellow {
    color: #e5c07b;
}

.grey {
    color: #7f848e;
}

.blue {
    color: #56b6c2;
}

.blue-dark {
    color: #528bff;
}

.lighter {
    font-weight: 300;
}

.profile-container {
    position: relative;
    top: 0;
    left: auto; 
    height: 220px;
    width: 290px;
    margin: auto;
}

.profile {
    width: 160px;
    height: 160px;
}

.profile-photo {
    position: absolute;    
    bottom: 0;
    right: 0;
    z-index: 2;
    transform: rotate(5deg);    
    border-radius: 30%;
}

.profile-avatar {
    position: absolute;    
    top: -20px;
    right: 60px;
    z-index: 3;
    border-radius: 40%;
}

.profile-logo {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    transform: rotate(-15deg);
    border-radius: 50%;
}

.budi {
    background-color: #2c313c;
    width: 100%;
    margin: auto;
}

.budi a {
    text-decoration: none;
    padding: 4px 0px;
}

#sosmed a {
    text-decoration: none;
    opacity: 0.95;
}
#sosmed a:hover {
    opacity: 0.8;
    background-color: transparent;
}
#sosmed img {
    width: 50px;
    height: auto;
    margin: 0 12px;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
    main {
        width: 70%;
    }    
    .budi {
        font-size: 130%;
        width: 490px;
    }
    .json {
        font-size: 150%;
    }
}

@media only screen and (min-width: 45em) {  /* 720px */
    * {
        letter-spacing: 1px;
    }
    main {
        width: 50%;
    }
    .budi {
        font-size: 140%;
        width: 620px;
    }
    .json {
        font-size: 175%;
        letter-spacing: 2px;
    }
}

@media only screen and (min-width: 60em) {  /* 960px */
    main {
        width: 40%;
    }
}

@media only screen and (max-width: 325px) {
    .json {
        font-size: 14px;
        letter-spacing: -0.5px;
    }
} 

@media only screen and (max-width: 539px) {
    .budi {
        max-width: 305px;
    }
}