@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

* {
    font-family: 'Ubuntu', sans-serif;
    color: #333447;
    line-height: 1.5;
    text-align: center; 
    margin: 0;
    padding: 0;   
}  

body {
    margin: 24px 12px;
}

main {
    padding: 12px 0 18px;
    margin: auto;
    width: 100%;
}

section, nav {
    margin-bottom: 26px;
}

footer a {
    text-decoration: none;
    color: #333447;
}

footer a:hover {
    color: #333447;
}

strong, b {
    font-weight: 500;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin-bottom: 6px;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 22px;
}
h4, p {
    font-size: 18px;
}
h5, nav, footer, .json {
    font-size: 15px;
}

a {
    color: #1e88e5;
}

a:hover {
    color: #1565c0;
}

.red {
    color: #e53935;
}

.profile-container {
    position: relative;
    top: 0;
    left: auto; 
    height: 220px;
    width: 290px;
    margin: auto;
}

.profile {
    width: 160px;
    height: 160px;
}

.profile-photo {
    position: absolute;    
    bottom: 0;
    right: 0;
    z-index: 2;
    transform: rotate(5deg);    
    border-radius: 30%;
}

.profile-avatar {
    position: absolute;    
    top: -20px;
    right: 60px;
    z-index: 3;
    border-radius: 40%;
}

.profile-logo {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    transform: rotate(-15deg);
    border-radius: 50%;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
    main {
        width: 70%;
    }    
    .budi {
        font-size: 130%;
    }
    .json {
        font-size: 150%;
    }
}

@media only screen and (min-width: 45em) {  /* 720px */
    main {
        width: 50%;
    }
    .budi {
        font-size: 140%;
    }
    .json {
        font-size: 175%;
    }    
}

@media only screen and (min-width: 60em) {  /* 960px */
    main {
        width: 40%;
    }
}

#sosmed a {
    text-decoration: none;
    opacity: 0.92;
}
#sosmed a:hover {
    opacity: 1;
}
#sosmed img {
    width: 50px;
    height: auto;
    margin: 0 12px;
}
